<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> <%= pageTitle %></title>
    <%- include partials/menubar %>
  </head>
  <body>
    <br>
    <br>
    <h2 color= "blue"> Hi <%- activeUser.username %></h2>
    <br>
    <br>
  <ul>
    <% options.forEach(option => { %>
      <li><a href="<%- option %>"><%- option %></a></li>
    <% })%>
  </ul>
  <ul>
    <li><a>You've been log in AS: <%- activeUser.role %></a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
  </body>
</html>
