
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>  seqassociation </title>
  </head>
  <body>

<br>
<h1>Edit Teacher Data </h1>
<a href="/teachers"> Show All Teachers Data </a>

<form action="/teachers/edit/<%= panggilData.id %>" method="post">
  First Name:
  <input type="text" name="first_name" value='<%= panggilData.first_name %>'><br>
  Last Name:
  <input type="text" name="last_name" value='<%= panggilData.last_name %>'><br>
  Email:
  <input type="text" name="email" value='<%= panggilData.email %>'><br>



  <select name = "SubjectId">
      <option value "  ">Select Subject:       </option>
      <% panggilDataDropdown.forEach( subject => { %>
      <option value ="<%= subject.id %>">
      <%= subject.subject_name %>
      </option>
      <% }) %>
  </select>


  <button type="submit">Submit Editing</button>
</form>
</body>
</html>
